@import "./reset";
@import "./vars/global";
@import "./themes/dark";
@import "./themes/white";
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap';

body{
  font: var(--font-m);
  color: var(--text-color);
  background: var(--bg-color);
}

.container{
  margin: var(--container-margin);
}