@import "./reset";
@import "./vars/global";
@import "./themes/dark";
@import "./themes/white";
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap';

// global
*{
  // scroll
  // custom scroll
  &::-webkit-scrollbar {
    width: var(--scroll-size);
    height: var(--scroll-size);

    // фон
    &-track{
      background-color: var(--bg-color);
    }

    // прокрутка
    &-thumb{
      background-color: var(--primary-color);
      border-radius: var(--scroll-border-radius);
      transition: all var(--transition-duration);

      &:hover{
        background-color:var(--secondary-color);
      }
    }
  }
}

body{
  font: var(--font-m);
  color: var(--text-color);
  background: var(--bg-color);
}

.container{
  margin: var(--container-margin);
}

.main{
  padding-top: var(--header-height);

  margin-bottom: var(--index);
}

