.LoginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Input {
  display: block;
  margin-bottom: 2em;

  &:not(:last-child){
    margin-bottom: 1em;
  }
}

.Button{
  display: block;
  width: 100%;
}