// using important is bad but this library...
body .MySelect{
  background-color: var(--body-bg);
  
  &__control{

    cursor: pointer;

    min-width: calc(var(--index) * 12);
    padding: 0.5em 0.5em 0.5em 0.7em;
    height: 2.8em;
    min-height: 100%;

    border-radius: var(--btn-border-radius);
    border: 0 solid var(--primary-color);
    
    color: var(--text-color);
    background-color: var(--glass-bg-color);  
    backdrop-filter: var(--glass-bg-blur);

    &--is-focused{
      svg{
        color: var(--text-color);
      }
    }

    &--menu-is-open{
      svg{
        transform: rotate(180deg);
      }
    }
  }

  &__input{
    color: var(--text-color) !important;

    &::placeholder{
      color: var(--text-color) !important;
      opacity: 0.8 !important;
    }

    &-container{
      margin: 0.03em;
      padding: 0.03em 0;
      background-color: transparent;
    }
  }

  &__single-value{
    margin: 0;
    color: var(--text-color)
  }

  &__value-container{
    padding: 0;
  } 
  
  &__indicator-separator{
    display: none;
  }

  // menu

  &__menu{
    margin-top: 0.5em;
    margin-bottom: 0;
    border-radius: var(--btn-border-radius);

    background-color: var(--glass-bg-color);  
    backdrop-filter: blur(var(--glass-bg-blur));  

    // border-top-right-radius: 0;
    // border-top-left-radius: 0;

    animation-name: menu-is-open;
    animation-duration: var(--transition-duration);

    &-list{
      padding: 0;
      border-radius: var(--btn-border-radius);
      max-height: 12em;

      color: var(--text-color);
      border: 0 solid var(--primary-color);

      background-color: transparent;

      // SCROLL
      &::-webkit-scrollbar {
        width: 0.4em;
        height: 0.4em;
        
        // bg
        &-track{
          background-color: transparent;
        }
    
        &-thumb{
          background-color: var(--secondary-color);
          border-radius: 0.3em;
        }
      }
    }
  }

  &__option{
    cursor: pointer;

    color: var(--text-color);
    background-color: transparent;
    padding: 0.5em 0.6em;
    border-radius: 0 !important;

    &--is-selected{
      background-color: var(--primary-color);
    }
  }

  // icons
  &__indicator{
    padding: 0 0.3em;
  

    svg {

      transition-duration: var(--transition-duration);
      transition-property: color transform;

      width: 1.3em;
      height: 100%;
    }
  }
}

@keyframes menu-is-open {
  0%{
    opacity: 0;
    transform: scale(0.2) translateY(-20%);
  }

  100%{
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}