.Hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bgImg_wrapper{
  display: block;
  width: 100vw;
  height: 100vh;
}


.bgImg_wrapper img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.btn {
  position: relative;
  z-index: 1;
}
