.Hero {
  margin: 0  calc(var(--index) * -1);
  margin-top: calc(var(--header-height) * -1);

  padding-top: var(--header-height);
  position: relative;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-size: 100%;
  background-repeat: repeat;

  &::after,&::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &::after{
    top: 0;
    z-index: 0;

    background: var(--overlay-color-2);
  }

  &::before{
    top: 25%;
    z-index: 1;

    background: var(--blackout);
  }
}

.content{
  position: relative;
  z-index: 2;
  width: 100%;
}

.searchForm{
  max-width: 70%;
  margin-bottom: 3em;
}

.title{
  color: var(--text-color);
  margin-bottom: 0.5em;

  &_accent{
    color: var(--primary-color);
  }
}