.Hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-size: 100%;
  background-repeat: no-repeat;

  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-color);
    z-index: 0;
  }
}

.content{
  position: relative;
  z-index: 1;
}

.title{
  color: var(--text-color);
  margin-bottom: 0.5em;

  &_accent{
    color: var(--primary-color);
  }
}