.item{
  display: flex;
  align-items: center;

  &:not(:last-child){
    margin-bottom: 1.3em;
  }

  &__name{
    margin-right: 0.6em;
    font-weight: 500;
    opacity: 0.75;
  }

  &__value{
    font-weight: 400;
  }
}