.Budget{
  display: flex;
  flex-direction: column;
}

.item{
  display: flex;
  align-items: center;

  &:not(:last-child){
    margin-bottom: 1em;
  }
}

.name{
  margin-right: 0.4em;
}

.amount{
  display: block;
}