.PageHeaderInfo {
  position: relative;
  margin-top: calc(var(--header-height) * -1);

  padding-top: calc(var(--header-height) + var(--index) * 1.7);
  padding-right: calc(var(--index) * 2);
  padding-left: calc(var(--index) * 2);
  padding-bottom: calc(var(--index) * 10);

  @media(width <= 1200px){
    padding-right: 0;
    padding-left: 0;
  }
}

.content{
  position: relative;
  z-index: 3;
  display:flex;
  flex-direction: row;


  @media(width <= 800px){
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
}


.coverBg{
  position: absolute;
  top: 0;
  left: calc(var(--index) * -1);
  right: calc(var(--index) * -1);
  bottom: 0;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-attachment: fixed;

  &::after,&::before{
    content: "";

    position: absolute;
    right: 0;
    left: 0;  
    bottom: -1%;

    z-index: 1;
  }

  &::after{
    top: 0;
    background-color: var(--overlay-color-2);
  }

  &::before{
    top: 70%;
    background: var(--blackout);
  }
}
