.NotFoundPage{
  padding: calc(var(--index) * 0.7);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(95vh - var(--header-height));
}

.Title{
  margin-bottom: 0.7em;
}