.Title{
  display: block;
}

.hero{
  font: var(--title-hero-font);
}

.subtitle{
  font: var(--title-subtitle-font);
}

.centered{
  text-align: center;
  text-wrap: balance;
} 

// colors
.primary{
  color: var(--primary-color);
}

.default {
  color: var(--text-color);
}