.FilmPage{
  margin: calc(var(--index) * 1.5) calc(var(--index) * 2);
}

.top{
  display: flex;
  flex-direction: row;
  margin-bottom: calc(var(--index) * 5);
}

.img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  &Wrapper{
    width: 100%;
    border-radius: var(--border-radius-size-d);
    overflow: hidden;
    max-width: calc(var(--index) * 18);
    height: 100%;
    margin-right: calc(var(--index) * 1.5);
  }
}



.player{
  overflow: hidden;
  border-radius: var(--border-radius-size-d);
  border: 0.2em solid var(--primary-color);

  width: 100%;
  height: 90vh;
  margin-bottom: calc(var(--index) * 3);
}