.CatalogFilterAndSearch{
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--index) * 1);
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.top{
  margin-bottom: calc(var(--index) * 0.5);
}

.bottom{
  display: flex;
  align-items: center;
}

.countries,.genres,.type,.sort{
  min-width: 18vw;
}

.countries{
  margin-right: var(--index);
}

.genres{
  margin-right: var(--index);
}

.type{
  margin-right: var(--index);
}

.sort{
  margin-left: auto;
}

