.Modal {
  .isChanging {
    animation: is-changing-animation;
    animation-duration: 500ms;

    animation-fill-mode: forwards;
  }

  .isOpens {
    animation: is-opens-animation;
    animation-duration: 500ms;

    animation-fill-mode: forwards;
  }

  @keyframes is-changing-animation {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 0;
      transform:  translateX(-200%) skew(-16deg, 0) scaleY(0.7) scaleX(0.7);   
    }
  }

  @keyframes is-opens-animation {
    from {
      opacity: 0;
      transform: translateX(200%) skew(-16deg, 0) scaleY(0.7) scaleX(0.7);
    }

    to {
      opacity: 1;
      transform: translateX(0) skew(0, 0) scaleY(1) scaleX(1);
    }
  }


  .content{
    max-width: 28%;
    width: 100%;

    @media(width <= 1000px){
      max-width: 35%;
    }

    @media(width <= 800px){
      max-width: 40%;
    }

    @media(width <= 600px){
      max-width: 50%;
    }

    @media(width <= 400px){
      max-width: 100%;
    }
  }


}

.Title{
  margin-bottom: 0.6em;
}

.toggleFormBtn{
  margin-top: 0.3em;
  padding: 0.5em 0.2em;
  width: 100%;
  text-align: right;
}

.Form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  input{
    display: block;
    margin-bottom: 2em;

    &:not(:last-child){
      margin-bottom: 1em;
    }
  }

  button{
    display: block;
    width: 100%;
  }
}

.error{
  margin-bottom: 1em;
  opacity: 0.8;
  color: var(--bad-color);
  text-align: center;
  text-wrap: balance;
}

.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--overlay-color-2);

  > div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

