.CatalogPreviewCard{
  --padding: 0.75em;

  outline: 0.15em solid var(--bg-color);

  transition-property: transform outline;
  transition-duration: var(--transition-duration);
  
  &:hover, &:focus-visible,&:focus {
    transform: scale(1.03);
    outline-color: var(--primary-color);

    .info{
      opacity: 1;
      transform: translateY(0%);
    }

    .rating{
      opacity: 1;
      transform: translate(0,0);
    }


    .img{
      transform: scale(1.1);
    }
  }
}

.rating{
  position: absolute;
  z-index: 2;
  top: var(--padding);
  left: var(--padding);

  opacity: 0;
  transform: translate(-50%,-50%);

  transition-property: opacity, transform;
  transition-duration: var(--transition-duration);
}

.info{
  position: absolute;
  bottom: var(--padding);
  left: var(--padding);
  right: var(--padding);
  z-index: 2;

  opacity: 0;
  transform: translateY(50%);

  transition-property: opacity, transform;
  transition-duration: var(--transition-duration);
}

.name{
  font-size: 1.1em;
  margin-bottom: 0.2em;
}

.year{
  font-size: 0.8em;
  
  opacity: 0.6;
}