.FilmPreviewCard{
  display: block;
  position: relative;
}

.img{
  width: 100%;
  display: block;
  object-fit: cover;
}

.info{
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  background-color: red;
}