.TagsList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  &.xScroll{
    overflow-x: auto;
  }
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.6em;
  margin-bottom: 0.6em;
  border-radius: 0.45em;

  line-height: 100%;

  a, span {
    display: block;
    height: 100%;

    padding: 0.5em 1em;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    color: var(--text-color);
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

.bgBlur{
  background-color: var(--glass-bg-color);
  backdrop-filter: blur(var(--glass-bg-blur));
}

.outline{
  border: 0.05em solid var(--primary-color);
}

