.app.dark {
  --bg-color: #181A20;
  --primary-color: #E21221;
  --primary-gradient: linear-gradient(137deg, #E21 0%, #FF4451 100.84%, rgb(226 18 33 / 0%) 100.85%);
  --secondary-color: white;
  --text-color: #FFF;
}
 