.CatalogList{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: calc(var(--index) * 1.1);
  margin-bottom: var(--index);

  @media(width <= 1200px){
    grid-template-columns: repeat(4, 1fr);
  
  }
  
  @media(width <= 800px){
    grid-template-columns: repeat(3, 1fr);
  
  }


  @media(width <= 500px){
    grid-template-columns: repeat(2, 1fr);
  
  }
}


