.Button {
  display: inline-block;
  cursor: pointer;
  border: none;
  
  font: var(--font-m);
  color: var(--text-color);
}

.clear {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.classic {
  border-radius: var(--btn-border-radius);
  padding: var(--btn-padding);
  background-color: var(--primary-color);
  color: var(--text-color);
}

.outline{
  border: 0.1em solid var(--primary-color);
  border-radius: var(--btn-border-radius);
  padding: var(--btn-padding);
  color: var(--primary-color);
  background-color: transparent;
}