.Button {
  display: inline-block;
  margin: 0;
}

.clear {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.classic {
  border-radius: var(--btn-border-radius);
  padding: var(--btn-padding);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
