.Header{
  --border-size: calc(var(--index) * 0.1);
  --border-radius-size: calc(var(--index) * 0.5);
  --blur: calc(var(--index) * 0.1);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index-header);

  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;

  border-radius: var(--border-radius-size);
  border: var(--border-size) solid var(--primary-color);

  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  
  padding: calc(var(--index) * 1);
  
  background: rgb(75 75 75 / 30%);

  backdrop-filter: blur(var(--blur));
}

.nav{
  margin-right: calc(var(--index) * 3);
  margin-left: auto;
}

.Logo{
  margin-right: calc(var(--index) * 1);
}

.loginBtn{
  margin-right: calc(var(--index) * 1.5);
}
