.ErrorPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--index);
  margin: var(--index);
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.reloadBtn{
  margin-top: 1.5em;
  display: block;
}