.FilmTabs{
  margin: calc(var(--index) * 2) calc(var(--film-page-margin) * -1) calc(var(--index) * 2) calc(var(--film-page-margin) * -1);
}

.button{
  padding: 1em 2em;
  border-bottom: 0.2em solid var(--text-color);
  border-radius: 0;

  background-color: transparent;

  &.active{
    border-bottom-color: var(--primary-color);
  
    background-color: transparent;

  }
}
