.FilmInfo{
  margin-top: calc(var(--index) * 1.5);
  display: flex;
  flex-direction: column;
}

.title{
  margin-bottom: 0.5em;
}

.list{
  display: flex;
  flex-direction: column;
}

.tagsList{
  overflow-x:  auto;
  
  li {
    margin-bottom: 0;
  }
}