.FilmInfo{
  margin-top: var(--index);
  display: flex;
  flex-direction: column;
}

.title{
  margin-bottom: 0.5em;
}

.list{
  display: flex;
  flex-direction: column;
}

.tagsList{
  overflow-x:  auto;

  li {
    margin-bottom: 0;
    font-size: 0.8em;
  }
}