.PersonHeader{
  margin-bottom: calc(var(--index) * 1.5);
}

.spouse{
  display: block;
  margin-bottom: 0.4em;

  span{
    margin-right: 0.3em;
  }
}

.coverBg{
  opacity: 0;
  
  @media(width <= 800px){
    opacity: 1;
  }
}