.FilmHeader{
  position: relative;
  padding-top: calc(var(--header-height) + var(--index) * 1.7);
  padding-bottom: calc(var(--index) * 10);

  @media(width <= 600px){
    // padding-top: calc(var(--index) * 2);
    // padding-bottom: calc(var(--index) * 5);
  }
}


.tagsListWrapper{
  margin-bottom: 0.8em;

  &:not(:last-child){
    margin-bottom: 0.8em;
  }  
}

.tagsList{
  font-size: 80%;
}

.list{
  margin-bottom: 1em;
}

.coverBg{
  position: absolute;
  top: 0;
  left: calc(var(--film-page-margin) * -1);
  right: calc(var(--film-page-margin) * -1);
  bottom: 0;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-attachment: fixed;

  &::after,&::before{
    content: "";

    position: absolute;
    right: 0;
    left: 0;  
    bottom: -1%;

    z-index: 1;
  }

  &::after{
    top: 0;
    background-color: var(--overlay-color-2);
  }

  &::before{
    top: 70%;
    background: var(--blackout);
  }
}
